.card-grid .pagination {
	margin: 0px 0px;
}

.no-margin {
	margin: 0px !important;
}

.navbar-brand img.logo {
	height: 32px;
	float: left;
	margin-top: -6px;
	margin-right: 10px;
}

.navbar-brand span {
	font-size: 1.2em;
}

.form-inline .form-group {
	width: auto;
}

.form-control.has-underline {
	border-bottom: 1px solid #ddd;
}

.form-group .btn i.material-icons {
	font-size: 14px;
}

.form-group .btn.btn-lg i.material-icons {
	font-size: 20px;
}

.datagrid .table {
	border-top: 1px solid #ddd;
}

.datagrid .table th {
	background-color: #f6f6f6;
	border-color: #efefef;
}

.datagrid .input-group {
	margin-bottom: 0px;
}

.datagrid .toolbar .form-group {
	margin-bottom: 15px;
}

.datagrid .toolbar i.material-icons {
	font-size: 14px;
}

.datagrid .pagination.text-center {
	width: 100%;
}

.datagrid .pagination.text-center > li {
	float: none;
	display: inline-block;
	width: auto;
}

.card .body.no-padding {
	padding: 0px;
}

.card .body.no-padding .datagrid .toolbar {
	padding: 20px 20px 0px;
}
